<div class="container pb-5">
    <div class="card cards">
        <div class="card-header text-white ">
            <h1>Bienvenidos al diccionario de mascotas</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/logo-pet2.png"class="img-fluid">
                </div>
                <div class="col-md-6 welcome">
                    <h3 class="texto">Da clic y conoce mas</h3>
                    <p class="texto">
                        <button [routerLink]="['/listado']" type="button" class="btn btn-outline-success btn-lg">Comencemos</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>